@model IEnumerable<BookStore.Models.BookMovement>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMovement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMovement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>

            <td>
                <p>
                    @{
                        if (item.Status != null && item.Status.Id == 2)
                        {

                            <input type="button" id="@item.Id" onclick="ReceiveBook(@item.Id,2);" value="Принял">

                        }
                        

                    }
                </p>
            </td>


        </tr>
    }
    }

</table>
<div id="DivError" style="color:red"></div>
